.search {
  &-dialog {
    position: fixed;
    top: 10%;
    min-height: 66px;
    border: 0.3px solid rgba(161, 161, 161, 1);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.08);
    border-radius: 22px;
    z-index: 10;

    .p-input {
      width: 530px;
      height: 66px;
      padding: 0 22px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 22px;
      background: rgba(255, 255, 255, 1);

      input {
        width: 100%;
        border: none;
        background: none;
        outline: none;
      }
    }
  }
}
