html,
body,
#app {
  margin: 0;
  padding: 0;
  font-family: 'Source Han Serif SC';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.page-container {
  padding: 40px 50px 0;
}

$--font-size-base: 18px;
$--default-border-radius: 15px;

// 基础颜色
$primary: #2d5af1;
$success: #52b35e;
$danger: #ff0200;
$warning: #fcc202;
$info: #bdc3c7;
$default: #f0f0f0;

// 基础大小
$large: 40px;
$middle: 35px;
$small: 30px;
$mini: 25px;
